  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/codeguard_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">CodeGuardGT</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
      <div class="image">
        <img src="/static/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" style="width: 60px; height: 60px; object-fit: cover;">
      </div>
      <div class="info ml-3">
        <a href="#" class="d-block font-weight-bold text-white">
          {{ current_user.nombres }} {{ current_user.apellidos }}
        </a>
        
        <!-- Lógica para cambiar el color de la badge según el tipo de usuario -->
        <span class="
          badge
          {% if current_user.tipo_usuario == 'Administracion' %}
            badge-danger
          {% elif current_user.tipo_usuario == 'Docente' %}
            badge-success
          {% elif current_user.tipo_usuario == 'Estudiante' %}
            badge-info
          {% else %}
            badge-secondary
          {% endif %}
        ">
          {{ current_user.tipo_usuario }}
        </span>

        <div class="text-muted small">
          DNI: {{ current_user.dni }}
        </div>
      </div>
    </div>



      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Gestión
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/index.html" class="nav-link {% if 'index.html' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestión de Roles</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/index2.html" class="nav-link {% if 'index2.html' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gestión de Usuarios</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview {% if 'charts' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'charts' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Charts
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/charts-chartjs.html" class="nav-link {% if 'charts-chartjs' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ChartJS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/charts-flot.html" class="nav-link {% if 'charts-flot' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Flot</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/charts-inline.html" class="nav-link {% if 'charts-inline' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inline</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview {% if 'forms-' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'forms-' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Forms
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/forms-general.html" class="nav-link {% if 'forms-general' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>General Elements</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview {% if 'tables-' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'tables-' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Tables
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/tables-simple.html" class="nav-link {% if 'tables-simple' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Simple Tables</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/tables-data.html" class="nav-link {% if 'tables-data' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>DataTables</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">EXAMPLES</li>
          <li class="nav-item">
            <a href="/calendar.html" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-header">SESIÓN</li>
          <li class="nav-item">
            <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link" style="background-color: #dc3545; color: white;">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>Cerrar Sesión</p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  